---
title: 'Rapid Templates'
---
{% extends '_layout.html' %}

{% block content %}
<h1 class="f1 f-bold u-mb-lg">Welcome to {{ title }}</h1>

<p class="u-mb-xs" >Welcome to {{ title }}: A starter environment for prototyping with Rapid Design System. Build pages in the <code>pages</code> folder, and create templates in the <code>templates</code> folder. This project comes with the Rapid SCSS library, but you're free to write your own SCSS in the <code>sass</code> folder.</p>

<p class="u-mb-xs" >Pages can be writen in HTML and compiled via <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>, which allows for templating and supports frontmatter.</p>

<p>Pages can also be written in <a href="https://help.github.com/articles/github-flavored-markdown/">Markdown</a> using the GitHub Flavored Markdown style.</p>
{% endblock %}
